@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --negro: #202020;
    --blanco: #FFFFFF;
    --morado: #B173E5;
    --negro-leve: #2B2B2B;
    --plateado: #C0C0C0;
}

html{
    font-family: "Poppins", serif;
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: #202020;
}

h2 {
    font-weight: 400;
}

body {
    margin: 0;
    /* background-color: var(--negro); */
    background-image: radial-gradient(ellipse 100% 100% at 50% -20%, #272727, #101010);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#proyectos, #tecnologias, #experiencia, #sobre-mi {
    padding-top: 5rem;
}

/* HEADER */

header {
    background-color: transparent;
    backdrop-filter: inherit;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    position: fixed;
    border-radius: 30px;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.scrolled {
    background: rgba(16, 16, 16, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid #2B2B2B;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    transition: color 0.3s;
}

.nav-link:hover, .nav-link.active, .nav-link:focus {
    color: var(--morado);
}

/* INTRO */

#intro {
    height: calc(100vh - 50px);
    width: 100%;
    padding: 50px 0 0 0;
    display: flex;
    align-items: center;
}

.intro-content{
    display: flex;
    justify-content: space-between;
}

.intro-image, .intro-text {
    max-width: 50%;
}

#intro h2 {
    color: var(--morado);
    font-size: 40px;
    font-weight: 300;
    margin-block: 0;
}

#intro h1 {
    font-size: 64px;
    margin: 0;
    font-weight: 400;
}

#intro p {
    font-size: 18px;
    line-height: 1.6;
    margin-block: 20px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 0.5rem;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--negro-leve);
    color: var(--blanco);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.buttons a:hover {
    background: #3b3b3b;
    box-shadow: 0px 0px 15px rgba(192, 192, 192, 0.3);
}

.intro-image img {
    width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 15px rgba(192, 192, 192, 0.15);
}

/* PROYECTOS */

#proyectos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#proyectos h2 {
    font-size: 64px;
    color: var(--morado);
}

.proyectos-content {
    display: flex;
    gap: 10rem;
}

.column-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.column-content nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-content nav h3 {
    font-weight: 500;
    margin: 20px 0 10px 0;
}

.column-content nav p {
    font-weight: 300;
    margin: 0;
}

.box-content {
    display: flex;
    flex-direction: column;
    background: var(--negro-leve);
    border-radius: 10px;
}

.box-content img {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* TECNOLOGIAS */

#tecnologias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tecnologias h2 {
    font-size: 64px;
    color: var(--morado);
}

.tecnologias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.tecnologias article {
    display: flex;
    gap: 3rem;
}

.box {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    position: relative;
}

.icon {
    width: 40px;
    height: 40px;
}

.box-text {
    position: absolute;
    opacity: 0;
    top: -65px;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transform: translateY(8px);
    transition: opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
}

.box:hover .box-text {
    opacity: 1;
    transform: translateY(0);
}

/* HTML */

.html {
    background-color: rgb(227, 79, 38, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.html:hover {
    background-color: rgb(227, 79, 38, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(227, 79, 38, 0.3);
    border: 1px solid #e34f26;
}

.html .box-text {
    color: #e34f26;
}

/* CSS */

.css {
    background-color: rgb(41, 101, 241, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.css:hover {
    background-color: rgb(41, 101, 241, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(41, 101, 241, 0.3);
    border: 1px solid #2965f1;
}

.css .box-text {
    color: #2965F1;
}

/* JS */

.js {
    background-color: rgb(240, 219, 79, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.js:hover {
    background-color: rgb(240, 219, 79, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(240, 219, 79, 0.3);
    border: 1px solid #F0DB4F;
}

.js .box-text {
    color: #f0db4f;
}

/* Bootstrap */

.bootstrap {
    background-color: rgb(126, 19, 248, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.bootstrap:hover {
    background-color: rgb(126, 19, 248, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(126, 19, 248, 0.3);
    border: 1px solid #7E13F8;
}

.bootstrap .box-text {
    color: #7e13f8;
}

/* PHP */

.php {
    background-color: rgb(181, 181, 181, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.php:hover {
    background-color: rgb(181, 181, 181, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(181, 181, 181, 0.3);
    border: 1px solid #B5B5B5;
}

.php .box-text {
    color: #b5b5b5;
}

/* SQL */

.sql {
    background-color: rgb(0, 84, 107, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.sql:hover {
    background-color: rgb(0, 84, 107, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(0, 84, 107, 0.3);
    border: 1px solid #00546B;
}

.sql .box-text {
    color: #00546b;
}

/* Laravel */

.laravel {
    background-color: rgb(247, 49, 33, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.laravel:hover {
    background-color: rgb(247, 49, 33, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(247, 49, 33, 0.3);
    border: 1px solid #F73121;
}

.laravel .box-text {
    color: #f73121;
}

/* HeidiSQL */

.heidi {
    background-color: rgb(73, 174, 4, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.heidi:hover {
    background-color: rgb(73, 174, 4, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(73, 174, 4, 0.3);
    border: 1px solid #49AE04;
}

.heidi .box-text {
    color: #49ae04;
}

/* WordPress */

.wordpress {
    background-color: rgb(33, 117, 155, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.wordpress:hover {
    background-color: rgb(33, 117, 155, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(33, 117, 155, 0.3);
    border: 1px solid #21759B;
}

.wordpress .box-text {
    color: #21759b;
}

/* Figma */

.figma {
    background-color: rgb(162, 89, 255, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.figma:hover {
    background-color: rgb(162, 89, 255, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(162, 89, 255, 0.3);
    border: 1px solid #A259FF;
}

.figma .box-text {
    color: #a259ff;
}

/* GitHub */

.github {
    background-color: rgb(181, 181, 181, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.github:hover {
    background-color: rgb(181, 181, 181, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(181, 181, 181, 0.3);
    border: 1px solid #B5B5B5;
}

.github .box-text {
    color: #b5b5b5;
}

/* VS Code */

.code {
    background-color: rgb(35, 169, 242, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.code:hover {
    background-color: rgb(35, 169, 242, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(35, 169, 242, 0.3);
    border: 1px solid #23A9F2;
}

.code .box-text {
    color: #23a9f2;
}

/* Screaming Frog */

.screaming {
    background-color: rgb(113, 168, 52, 0.2);
    border: 1px solid transparent;
    box-shadow: none;
    transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.screaming:hover {
    background-color: rgb(113, 168, 52, 0.4);
    box-shadow: 0px 0px 15px 3px rgb(113, 168, 52, 0.3);
    border: 1px solid #71A834;
}

.screaming .box-text {
    color: #71a834;
}